@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


 
 .backimage{
 	background-image: url(image/homepage.jpg);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }



 .logo{
 	margin:0px 0 0 165px;
 	padding: 0;
}

 .highttext{
    margin:265px 0 0 0;
    padding: 0;
    line-height: 5rem;
}

.getstarted{
    margin:20px 0 0 0px;
    padding: 0;
}

.pauto{
    margin:15px 0 0 0px;
    padding: 0;
    color: white;
    text-align: center;
}

.Getstarted{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 0px;
}


/* This is a sign in in CSS */

.signbg{
    background-image: url(image/ForgotPassword.jpg);
    height: 100vh;
    display: flex;
}

.containerbox{
    background-color: white;
    width: 1200px;
    height: 800px;
    margin: auto;
    box-shadow: 0 0 50px  rgba(0, 0, 0, 0.1);
    background-position: center;
    background-attachment: fixed;
}

.signh4{
    width: 900px;
    height: 50px;
    margin: auto;
    padding: 0px;
    margin-top: 70px;
    border-bottom: 1px solid #5082ED;
    background-color:none;
}

.sign_in1::after{
    background-image: url(image/signin_bottom.svg);
    content:"";
    width: 30px;
    height: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;

}

.formsign{
    background-color: none;
    height: 400px;
    width: 500px;
    align-content: center;
    margin:auto;
    padding: 0;
    margin-top: 60px;
    text-align: left;
}


.social{
    margin:0px;
    padding: 0px;
    float: right;
    align-content: right;
}

/* This is a Sign Up Success in CSS */


.signupsuccess{
    background-color:none;
    height: 400px;
    width: 500px;
    align-content: center;
    margin:auto;
    padding: 0;
    margin-top: 60px;
    text-align: center;
}

.signsuccicon{
    width: 900px;
    height: 100px;
    margin: auto;
    padding: 0px;
    margin-top: 80px;
    border-bottom: 1px solid #c5c5c5;
    background-color:none;
}


/* This is a forgot password in CSS */

.forgotpassword{
    width: 900px;
    height: 100px;
    margin: auto;
    padding: 0px;
    margin-top: 80px;
    border-bottom: 1px solid #c5c5c5;
    background-color:none;
}

/* This is a EmailValidation in CSS */


.emailvalidation{
    background-color:none;
    height: 400px;
    width: 500px;
    align-content: center;
    margin:auto;
    padding: 0;
    margin-top: 100px;
}

.project_details{
    background-color:#e6e7e8;
    color: black;
    font-weight: 500;
}

.bg_dark{
    background-color: #AFAFAF;
}

.bg_black{
    background-color: #424242;
}

.bg_cyan{
    background-color: #B1CAFD;
}

.bg_cyan_dark{
    background-color: #4F82EC;
}

.bg-gray{
    background-color: #F1F2F2;
}

.project_name{
    background-color: #D8D8D8;
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.btn-secondarydelete{
    background-color: #E6E7E8;
}

.projecticon{
    background-color: #D9D9D9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 25px 10px;
    display: flex;
    text-align: center;
}

.formcolor{
    background-color:#f1f2f2;
}

.formcolor_run{
    background-color:#F4F5F7;
}

.formcolor_test_run{
    background-color:#F4F5F7;
}

.formcolor_test_run:hover{
    background-color:#ececec;
}


.widthsize{
    width: 500px;
}

.fw-semibold{
    font-weight: 500;
}

.margintop{
    margin-top: 250px;
}

.borderdot{
    border: #4F82EC dotted 1px;
}

.manager{
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 29px 0 0 0;
    background-color: #999999;
    border-radius: 50%;
    color: white;
    font-size: 15px;
}

.bgfill{
    background-color: #F4F5F7;
}

.Test_image{
    background-color: #D8D8D8;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 20px 20px;
    margin-top: 60px;
}

.margintop_drag{
    margin-top: 100px;
}

.margintop_run{
    margin-top: 200px;
}

.Test_image_drag{
    background-color: #999999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px 7px;
    margin-top: 40px;
    color: white;
    font-size: 12px;
}

.sixe_profile{
    width: 130px;
    height: 130px;
}

.sixe_profile_edit{
    width: 90px;
    height: 90px;
    background-color: #999999;
}

.fillcoloredit{
    background-color: #F4F5F7;
}

.fillcolorproject{
    background-color: #f1f2f2;
}

.fillcolorproject:hover{
    background-color: #e6e7e8;
}

.Suite_Edit{
    background-color: #E6E7E8;
}

.accordion-button::after {
    background-image: url();
}

.accordion-button:not(.collapsed)::after {
    background-image: url();
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color:white;
    box-shadow: none;
}

.accordion-button:hover {
    z-index:none;
}

.accordion-button:focus {
    z-index: 3;
    border-color:white;
    outline: 0;
    box-shadow: none;
}

.Release1{
    width: 65px;
    height:65px;
    background-color: #999999;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    padding: 15px 0 0 0;
    text-align: center;

}

.Release1_mile{
    width: 50px;
    height:50px;
    background-color: #999999;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    padding: 15px 0 0 0;
    text-align: center;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:0;
    border-radius:0;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow:none;
}

.checkheight{
    height: 25px;
    width: 25px;
}

.navheight{
    height: 90px;
}

.card-body {
    flex: 1 1 auto;
    padding:0;
}

.body_edit_run{
    width: 750px;
    height: 400px;
    background-color: #F6F9FE;
    border:1px dashed #AFAFAF;
    margin: auto;
}

.underlineupload::after {
    width: 90px;
    height: 1px;
    background-color: #424242;
    content:"";
    display: block;
    margin: 10px 0 0 0;
}

.colorborder{
    background-color: #F4F5F7;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.how_details::after{
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background-color:#0c63e4;
    margin-top:10px;
}

.Authorization_test_run:hover{
    background-color: #f1f2f2;
}

.Authorization.accordion-button:not(.collapsed) img{
    transform: rotate(180deg);
}

.imageuser {
    width: 36px;
    height: 36px;
}

.leftsi {
    margin-left: -50px;
}

.shahin-bg {
    background-color: #0c63e4;
    color: #F1F2F2;
    height: auto;
    width: 60px;
    padding: 5px;
    border-radius: 10%;
    text-align: center;
}

.controlsize {
    height: 160px;
}

.appshover {
    border: #ededee solid 1px;
    border-radius: 10px;
    text-align: start;
}

.appshover:hover {
    border: 1px solid #0c63e4 ;
    transition: all 0.9s;
}

.owner {
    background-color: #f4f4f4;
    padding: 9px;
}

.bgcolor {
    background-color: #F2F2F2;
}

.whysize {
    font-size: 70px;
}

.dashboardbutton{
    background-color: #e6e7e8;
}

.dashboardbutton:hover{
    background-color: #000000;
    color: white;
}

.table_heading {
    background-color: #e6e6e6;
}

.logosize{
    width:auto;
    height: auto;
}

.image-sized{
    width: 100%;
    height: auto;
}

.mar-left{
    margin-left: -15px;
}

.modal_scroll{
    overflow-y: scroll;
}

.modal-content _111{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    height:calc(100vh - 56px);
    overflow-y: auto;
    
}

.passed_color{
    background-color: #94c64a;
    color: white;
}

.failed_color{
    background-color: #f66384;
    color: white;
}

.blocked_color{
    background-color: #ddb50a;
    color: white;
}

.invalid_color{
    background-color: #5f01b9;
    color: white;
}

.open_color{
    background-color: #4F82EC;
    color: white;
    padding: 3px;
    width:60px;
    border-radius: 5px;
    text-align: center;
}

.image_25{
    width: 20px;
    height: 20px;
}

.runhistory_passed_color{
    background-color: #94c64a;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 5px;
}

.runhistory_failed_color{
    background-color: #f66384;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 5px;
}

.blocked_failed_color{
    background-color: #ddb50a;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 5px;
}

.btn-outline-primary-passed {
    color: #666666;
    border-color: #979797;
}

.btn-outline-primary-passed:hover {
    color: #94c64a;
    border-color: #94c64a;
}

.btn-outline-primary-failed {
    color: #666666;
    border-color: #979797;
}
.btn-outline-primary-failed:hover {
    color: #f66384;
    border-color: #f66384;
}

.btn-outline-primary-blocked {
    color: #666666;
    border-color: #979797;
}
.btn-outline-primary-blocked:hover {
    color: #ddb50a;
    border-color: #ddb50a;
}

.btn-outline-primary-invalid {
    color: #666666;
    border-color: #979797;
}
.btn-outline-primary-invalid:hover {
    color: #5f01b9;
    border-color: #5f01b9;
}


.btn-outline-primary-skipped {
    color: #666666;
    border-color: #979797;
}
.btn-outline-primary-skipped {
    color: #979797;
    border-color: #979797;
}

.height-bg{
    height: 100vh;
    background-color: #f1f1f1;
}

.circle-color-1{
    background-color: #adacac;
}

.borderline2::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #0d6efd;
    margin-left: 25px;
    margin-top: -10px;
}

.borderline1::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: #AFAFAF;
    margin-left: 25px;
    margin-top: -10px;
}

.bg-accepted{
    background-color:#00A651 ;
    height: 30px;
    width: 80px;
    padding:1px;
    border-radius:5px;
    text-align: center;
    align-items: center;
    color: white;
}

.bg-pending{
    background-color:#ED1C24 ;
    height: 30px;
    width: 80px;
    padding:1px;
    border-radius:5px;
    text-align: center;
    align-items: center;
    color: white;
}

.bg-denied{
    background-color:#FFC20E ;
    height: 30px;
    width: 80px;
    padding:1px;
    border-radius:5px;
    text-align: center;
    align-items: center;
}

.bg-deactivated{
    background-color:#ED1C24 ;
    height: 30px;
    width: 90px;
    padding:1px;
    border-radius:5px;
    text-align: center;
    align-items: center;
    color: white;
}

.single::after{
content: "";
display: block;
top: 0;
left: 0;
width: auto;
height: 1px;
background-color: #0d6efd;
margin-top: 7px;
}

.bulk::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: auto;
    height: 1px;
    background-color: #0d6efd;
    margin-top: 7px;
    }

.project{
    background-color: #F3F3F3;
    margin: 0;
     padding: 0;
}

.package{
    border: #e6e5e5 solid 1px;
}

.package:hover{
    border: #0d6efd solid 1px;
    transition: all 0.5s;
}

.bg-color{
    box-shadow: 2px 2px 10px rgb(212, 212, 212);
    position: fixed;
    width: 50%;
    top: 70px;
    left: 50px;
    background-color: #ffffff;

}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.apps:hover{
    color:#0d6efd ;
}